{
    "category": "database",
    "contents": {
        "hostname": "127.0.0.1",
        "port": 3306,
        "username": "",
        "password": "",
        "database": ""
    },
    "lock": [
        "\\Test\\Database\\Controller"
    ]
}
