{
    "category": "routes",
    "contents": [
      {
        "url": "/hello/?:name",
        "target": "\\Examples\\Router\\RouteTarget"
      }
    ],
    "lock": [
      "\\Eugene\\Runtime\\Router"
    ]
}
