<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Eugene{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
<!--
  Page rendered in {{ rendertime() }} ms.
-->
</body>
</html>
