<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Eugene{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
  <!--
    Render Time:
    {{ round(microtime(true) - constant(__STARTTIME__) * 1000) }} ms
  -->
</body>
</html>
